{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
		<!--Import Google Icon Font-->
		<link href=" {% static 'css/material-icons.css' %}" rel="stylesheet">

		<link rel="stylesheet" href= " {% static 'css/materialize.min.css' %}">         

    <script type="text/javascript" src=" {% static 'js/jquery-2.1.1.min.js' %}"></script>
     
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<title>{% block title %}Base{% endblock %}</title>
</head>
<body>



  <nav> 

    <div class="nav-wrapper red darken-4">
      <a href="{% url 'home' %}">
        <img class="logo-topbar" src="../static/images/flia_conin.jpg">
      </a>
      <ul class="right">
		<li>
      {% if user.is_authenticated %}
			<a href="#" data-target="slide-out" class="sidenav-trigger">
	        	<i class="material-icons">menu</i>
	 		</a>
      {% endif %}
	 	</li>
      </ul>
    </div>

  	 
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
      <div class="background"></div>
      <a href="#user"><img class="circle" src="{% static 'images/avatar.png' %}"></a>
      <div class="nombre-usuario">
        <a href="#name"><span class="name">Nombre de Usuario</span></a>
      </div>
    </div>
  </li>
    <div class="grey darken-4 white-text title-menu">
        DONACIONES
    </div>
    <li class="grey lighten-3">
      <a href="{% url 'receive_donation' %}"><i class="material-icons">card_giftcard</i>Recibir Donación</a></li>
    <li class="divider"></li>
    <li  class="grey lighten-3">
      <a href="{% url 'list_sort' %}">
        <i class="material-icons">save_alt</i>Clasificar Donaciones
      </a>
    </li>
    <li class="divider"></li>
    <li class="grey lighten-3">
      <a href="{% url 'list_fix' %}"><i class="material-icons">build</i>Acondicionar</a></li>
    <div class="grey darken-4 white-text title-menu">
        ROPERO FAMILIAR
    </div>
    <li class="grey lighten-3">
      <a href="{% url 'closet' %}"><i class="material-icons">store</i>Ingreso al Ropero</a>
    </li>
    <li class="grey lighten-3">
      <a href="{% url 'peoples_closet' %}"><i class="material-icons">monetization_on</i>Registrar Venta</a>
    </li>
    <div class="grey darken-4 white-text title-menu">
        FAMILIAS
    </div>
    <li class="grey lighten-3">
      <a href="{% url 'referring_search' %}"><i class="material-icons">supervised_user_circle</i>Buscar Familia</a></li>
    <li class="divider"></li>
    <li  class="grey lighten-3">
      <a href="{% url 'register_referring_f' %}">
        <i class="material-icons">group_add</i>Registrar Familia
      </a>
    </li>

    <div class="grey darken-4 white-text title-menu">
        ADMINISTRAR
    </div>
    <li  class="grey lighten-3">
      <a href="{% url 'load_types_donation' %}">
        <i class="material-icons">card_giftcard</i>Tipos de Donaciones
      </a>
    </li>
    <li  class="grey lighten-3">
      <a href="{% url 'load_types_products' %}">
        <i class="material-icons">loyalty</i>Actualizar Precios
      </a>
    </li>
    <li class="divider"></li>
    <li class="grey lighten-3">
      <a href="{% url 'neigh' %}"><i class="material-icons">view_quilt</i>Barrios</a>
    </li>
    <li class="grey lighten-3">
      <a href="{% url 'donations_report' %}"><i class="material-icons">
insert_chart_outlined</i>Reporte de donaciones</a>
    </li>
    <li class="divider"></li>
    <li class="grey lighten-3">
      <a href="{% url 'register_user' %}"><i class="material-icons">person_add</i>Registrar Usuario</a>
    </li>    
    <li class="divider"></li>
    <li class="grey lighten-3">
      <a href="{% url 'logout' %}"><i class="material-icons">meeting_room</i>Logout</a>
    </li>

  </ul>
  
 
  </nav>
        

  
{% block alert %}
  
{% endblock %}    

    <div class="container">
	{% block content %}
	
	{% endblock %}
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>