{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
		<!--Import Google Icon Font-->
		<link href=" {% static 'css/material-icons.css' %}" rel="stylesheet">

		<link rel="stylesheet" href= " {% static 'css/materialize.min.css' %}">         
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

		<script type="text/javascript" src=" {% static 'js/jquery-2.1.1.min.js' %}"></script>
	   
        <script src="{% static 'js/materialize.min.js' %}"></script>

		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  		
	<title>{% block title %}Base{% endblock %}</title>
</head>
<body>



  <nav> 

    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Ropero Familiar</a>
      <ul class="right">
		<li>
			<a href="#" data-target="slide-out" class="sidenav-trigger">
	        	<i class="material-icons">menu</i>
	 		</a>
	 	</li>
      </ul>
    </div>

  	 

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{% static 'images/logo_f_conin.jpg' %}">
      </div>
      <a href="#user"><img class="circle" src="{% static 'images/avatar.png' %}"></a>
      <a href="#name"><span class="black-text name">nombre de usuario</span></a>
      <a href="#email"><span class="black-text email">usuario@gmail.com</span></a>
    </div></li>
    <li><a href="{% url 'receive_donation' %}"><i class="material-icons">loyalty</i>Recibir Donación</a></li>
    <li><a href="{% url 'register_family' %}"><i class="material-icons">people</i>Registrar Familia</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#"><i class="material-icons">save_alt</i>Clasificar Articulo</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  
 
  </nav>
        

  
        

    <div class="container">
	{% block content %}
	
	{% endblock %}
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>