{% extends "base.html" %}

{% block title %} Acondicionar {% endblock %}
{% block alert %}
{% if alert %}
   <div class="container">
          <div class="row center-align" id="alert_box">
            <div class="col s12 ">
              <div class="card #e53935 red darken-1">
                  <div class="col s2 push-s10">
                    <i id="alert_close" class="material-icons  white-text" aria-hidden="true">close</i>
                  </div>
                <div class="card-content white-text">
                  <span class="card-title"><h5>Atencion</h5></span>
                  <p>{{alert}}</p>
                </div>
              </div>
            </div>
          </div>        
        </div> 
 {% endif %}
  
{% endblock %}  

{% block content %}
<div class="contenedor z-depth-3 white">
  <div class="row">
    <h4 class="center-align"> Voluntario {{responsable.name}}</h4>
  </div>
  <h4 class="center-align">Disponible para acondicionar </h4>

  <ul class="collection">
  {% for p in types %}
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title">{{p.name}}</span>
          <p>{{p.quantity_total}} {{p.unit_measure}}<br>
            
          </p>
          <a class="secondary-content"><i class="material-icons">fiber_manual_record</i></a>
      </li> 
  {% endfor %}
    </ul>
    
  

  <ul class="collapsible popout">
    {% for t in types %}
      <li>
        {% if carry %}
          <div id="col_{{t.name}}" class="collapsible-header center-align">
            {{t.name}}  {% for d in carry %}  {% if d.types == t.name %} 
            <span class="new badge" data-badge-caption="Agregados">{{ d.quantity }} {{d.unit_measure}}</span>
            <script type="text/javascript">
              $(function() {
                if ({{ d.quantity }} > 0){
                  $("#col_{{t.name}}").addClass("disable-col");
                }
              });
            </script>
             {% endif %} 
            {% endfor %}
          </div>
        {% else %}
          <div id="col_{{t.name}}" class="collapsible-header center-align ">
            {{ t.name }}
          </div>
        {% endif %}
        <div class="collapsible-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col s4 offset-s4">
                {{ form_carry}}
                  <input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
                  <input class="hide" id="id_types" type="text" name="types" value="{{ t.name }}">
              
              </div>
              <div class="col s4 left">
                <label id="label_{{t.name}}" class="validate"  for="id_unit_measure">{{ t.get_unit_measure_display }}</label>
              </div>
              <div class="col s6 center-align offset-s3">
                <button id="btn_{{t.name}}" class="btn waves-effect waves-light" type="submit">Agregar</button>
              </div>
            </div>
          
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>
  <div class="center-align">
    <a class="waves-effect waves-light btn modal-trigger" href="{% url 'resume_fix' responsable.id %}">finalizar</a>
  </div>
  
</div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
  </script>
  <script type="text/javascript">
  $('#alert_close').click(function(){
    $( "#alert_box" ).fadeOut( "slow", function() {
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endblock %}
