{% extends "base.html" %}

{% block title %} Acondicionar {% endblock %}
{% block alert %}
{% if alert %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">ATENCION</span>
          <p>{{alert}}</p>
        </div>
        
      </div>
    </div>
  </div>
 {% endif %}
  
{% endblock %}  

{% block content %}
  <div class="row">
    <h4 class="center-align"> Voluntario {{responsable.name}}</h4>
  </div>
  <h4 class="center-align">Elegir tipo de Articulo</h4>
    {% for t in types %}<p>{{t.name}}  {{t.quantity_total}}</p>{% endfor %}
  <ul class="collapsible popout">
    {% for t in types %}
      <li>
        {% if carry %}
          <div id="col_{{t.name}}" class="collapsible-header center-align">
            {{t.name}}  {% for d in carry %}  {% if d.types == t.name %} <span class="new badge" data-badge-caption="Agregados">{{ d.quantity }} {{d.unit_measure}}</span>
            <script type="text/javascript">
              $(function() {
                if ({{ d.quantity }} > 0){
                  $("#col_{{t.name}}").addClass("disable-col");
                }
              });
            </script>
             {% endif %} {% endfor %}
          </div>
        {% else %}
          <div id="col_{{t.name}}" class="collapsible-header center-align ">
            {{ t.name }}
          </div>
        {% endif %}
        <div class="collapsible-body">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col s4 offset-s4">
                {{ form_carry}}
                  <input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
                  <input class="hide" id="id_types" type="text" name="types" value="{{ t.name }}">
              
              </div>
              <div class="col s4 left">
                <label id="label_{{t.name}}" class="validate"  for="id_unit_measure">{{ t.get_unit_measure_display }}</label>
              </div>
              <div class="col s6 center-align offset-s3">
                <button id="btn_{{t.name}}" class="btn waves-effect waves-light" type="submit">Agregar</button>
              </div>
            </div>
          
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
  </script>
{% endblock %}
