{% extends "base.html" %}
{% load static %}

{% block title %} Acondicionar {% endblock %}
{% block alert %}
{% if alert %}
  <div class="container">
    <div class="row center-align" id="alert_box">
      <div class="col s12 ">
        <div class="card #e53935 red darken-1">
          <i id="alert_close" class="material-icons right-align secondary-content white-text" aria-hidden="true">close</i>
          <div class="card-content white-text">
            <span class="card-title"><p><i class="material-icons align-v-icon" aria-hidden="true">error</i>Atención</p></span>
            <p>{{alert}}</p>
          </div>
        </div>
      </div>
    </div>        
  </div> 
 {% endif %}
{% endblock %}  

{% block content %}
  <div class="contenedor z-depth-3 white">
    <h3 class="center-align"> Voluntario {{responsable.name}}</h3>
    {% if types %}
      <div class="row">
        <div class="texto-ayuda">"Articulos disponibles para acondicionar"</div>
        <ul class="collapsible">
        {% for t in types %}
          <li>
            <div class="collapsible-header">
              <div>{{t.name}} {{t.quantity_total}} {{t.unit_measure}}</div> 
            </div>
            <div class="collapsible-body">
              <form method="POST">
              {% csrf_token %}
                <div class="row">
                  <div class="col s4 offset-s4">
                    {{ form_carry}}
                    <input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
                    <input class="hide" id="id_types" type="text" name="types" value="{{ t.name }}">
                  </div>
                  <div class="col s4 left">
                    <label id="label_{{t.name}}" class="validate"  for="id_unit_measure">{{ t.get_unit_measure_display }}</label>
                  </div>
                  <div class="col s6 center-align offset-s3">
                    <button class="btn modal-trigger btn-large" type="submit">Agregar</button>
                  </div>
                </div>
              </form>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="center-align">
        <a class="btn modal-trigger btn-large modal-trigger" href="{% url 'resume_fix' responsable.id %}">finalizar</a>
      </div>
    {% else %}
      <h4 class="center-align">No hay productos para acondicionar</h4>
      <div class="separador"></div>
      <div class="center-align">
        <img src="{% static 'images/nada.gif' %}" class="responsive-img">
      </div>
      <div class="separador"></div>
      <div class="row">
        <a href="{% url 'list_fix' %}" class="col s12 m4 offset-m4 btn modal-trigger btn-large ">Volver</a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
  </script>
  <script type="text/javascript">
  $('#alert_close').click(function(){
    $( "#alert_box" ).fadeOut( "slow", function() {
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endblock %}
