{% extends "base.html" %}

{% block title %} Ingreso al ropero {% endblock %}

{% block content %}

	<h2 class="center-align">Ingreso al ropero</h2>
	<form action="/ingreso_ropero/" method="POST">
		<div class="row">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="Buscar" class="btn">
			<a href="/registrar_referente_f/"  class="btn">Registrar</a>
			{% for r in ref %}
					<div class="row collection">
						<a href="#" class="collection-item">{{r.lastname}}, {{r.firstname}}</a>
					</div>
			{% endfor %}
		</div>
	</form>
 
{% endblock %}