{% extends "base.html" %}

{% block title %}Reporte de Donaciones{% endblock %}

{% block content %}
  <h2 class="center-align">Reporte de Donaciones</h2>

      <form action="/adm/reporte_donaciones/" method="POST">

        <div class="input-field">
          {% csrf_token %}
            <select name="dona_id">
              <option value="" disabled>Articulo</option>
              {% for d in dona %}
                <option value={{d.name}}>{{d.name}}</option>
              {% endfor %}
            </select>
            <span class="helper-text" data-error="wrong" data-success="right">Seleccione el tipo de articulo del que desea un reporte</span>
          </div>

          <div class="input-field">
            <input type="text" class="datepicker" name='begin' id='begin'>
            {{form.begin.label_tag}}
            <span class="helper-text" data-error="wrong" data-success="right">Ingrese fecha de inicio del reporte</span>
          </div>

          <div class="input-field"> 
            <input type="text" class="datepicker" name='finish' id='finish'>
            {{form.finish.label_tag}}
            <span class="helper-text" data-error="wrong" data-success="right">Ingrese fecha de fin del reporte</span>
          </div>

          <div class="row">
            <div class="col s12 m6 push-m3">
              <input type="submit" value="Buscar" class="btn-large boton-perfil" id="btn_buscar">
            </div>
          </div>

      </form>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('select').formSelect();
			});
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
    		$('.datepicker').datepicker(
    			{ 
            firstDay: true, 
            format: 'yyyy-mm-dd',
            yearRange: 100,
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],
                cancel: ['Cancelar'],
                done: ['Aceptar'],
            }
        });
  		});
	</script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#btn_buscar").click(function(event){
        var str1 = $('#begin').val();
        var str2 = $('#finish').val();
        if (str1 > str2){
          alert('La fecha de inicio no puede ser mayor a la final');
          event.preventDefault();
        }
      });
      $("#btn_buscar").click(function(event){
        var str1 = $('#begin').val();
        var str2 = $('#finish').val();
        if (str1 == str2){
          alert('Las fechas no pueden ser iguales');
          event.preventDefault();
        }
      });
    });
  </script>	
{% endblock %}