{% extends "base.html" %}

{% block title %}Reporte de Donaciones{% endblock %}

{% block content %}

	<form action="/adm/reporte_donaciones/" method="POST">
		<div class="input-field col s12">
		{% csrf_token %}
    		<select name="dona_id">
		      <option value="" disabled selected>Articulo</option>
		      {% for d in dona %}
		      	<option value={{d.name}}>{{d.name}}</option>
		      {% endfor %}
    		</select>
    		<label>Articulos</label>
  		</div>
  		{{form.begin.label_tag}}
  		<input type="text" class="datepicker" name='begin'>
  		{{form.finish.label_tag}}
  		<input type="text" class="datepicker" name='finish'>
		<input type="submit" value="Buscar" class="btn">
	</form>	

{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('select').formSelect();
			});
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
    		$('.datepicker').datepicker(
    			{ 
            firstDay: true, 
            format: 'yyyy-mm-dd',
            yearRange: 100,
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"]
            }
        });
  		});
	</script>	
{% endblock %}