{% extends "base.html" %}

{% block title %}Resultado de Búsqueda{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<h3 class="center-align">{{fam.firstname}} no puede ingresar al ropero</h3>
		<p>El/ella o un familiar ha ingresado éste mes.</p>
		<p><strong>Fecha último ingreso:</strong> {{last_buy}}</p>
		<div class="row">
			<div class="">
				<a href="{% url 'closet' %}" class="btn-large boton-perfil col s12 m4 push-m4">Volver</a>	
			</div>
		</div>
	</div>
{% endblock %}