{% extends "base.html" %}

{% block title %} Ingreso al ropero {% endblock %}

{% block content %}

	<h2 class="center-align">Ingreso al ropero</h2>
	<form action="/ingreso_ropero/" method="POST">
		<div class="row">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="Buscar" class="btn">
			<a href="/registrar_referente_f/"  class="btn">Registrar</a>
			{% for r in ref %}
					<div class="row collection">
						<a href="#modal1{{r.id}}" class="collection-item modal-trigger">{{r.lastname}}, {{r.firstname}}</a>
					</div>
			{% endfor %}

			{% for r in ref %}
				<div id="modal1{{r.id}}" class="modal">
					<div class="modal-content">
					  <h4>Ingreso al Ropero</h4>
					  <p>¿Está seguro que {{r.lastname}}, {{r.firstname}} ingresará al ropero?</p>
					</div>
					<div class="modal-footer">
						<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
					 	<a href="/ingreso_ropero/ok/{{r.id}}/" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
					</div>
				</div>
			{% endfor %}

		</div>
	</form>
 
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
	  $(document).ready(function(){
	    $('.modal').modal();
	  });	
	</script>
{% endblock %}