{% extends "base.html" %}

{% block title %} Guardar Bono {% endblock %}

{% block content %}
	<h3>Donacion recibida de {{donator.name}}</h3>
	<form method="POST">
		{% csrf_token %}
		<div class="input-field col s4">
			{{form.ticket_number}}
			{{form.ticket_number.label_tag}}
			<span class="helper-text" data-error="wrong" data-success="right">Ingrese el número de recibo del bono contribución</span>
		</div>
		<div class="row">
			<div class="right-align col s12 m3 push-m9">
	  		<button class="waves-effect waves-light btn-large boton-home" type="submit">Finalizar</button>
			</div>
		</div>
	</form>
{% endblock %}