{% extends "base.html" %}

{% block title %} Devolver {% endblock %}
{% block alert %}
{% if alert %}
   <div class="container">
          <div class="row center-align" id="alert_box">
            <div class="col s12 ">
              <div class="card #e53935 red darken-1">
                  <div class="col s2 push-s10">
                    <i id="alert_close" class="material-icons  white-text" aria-hidden="true">close</i>
                  </div>
                <div class="card-content white-text">
                  <span class="card-title"><h5>Atencion</h5></span>
                  <p>{{alert}}</p>
                </div>
              </div>
            </div>
          </div>        
        </div> 
 {% endif %}
  
{% endblock %}  

{% block content %}
  <div class="row">
    <h4 class="center-align"> Voluntario {{responsable.name}}</h4>
  </div>
  <h4 class="center-align">Devolver </h4>

  <ul class="collection">
  {% for p in types %}
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title">{{p.name}}</span>
          <p>{{p.quantity_total}} {{p.unit_measure}}<br>
            
          </p>
          <a class="secondary-content"><i class="material-icons">fiber_manual_record</i></a>
      </li> 
  {% endfor %}
    </ul>
    
  

<ul class="collapsible popout">
    {% for c in carry %}
    <li>
      <div class="collapsible-header">{{c.types}}-----------{{c.quantity}}</div>
      <div class="collapsible-body">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col s4 offset-s4">
                {{ form_carry}}
                  <input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ c.unit_measure }}">
                  <input class="hide" id="id_types" type="text" name="types" value="{{ c.types }}">
              
              </div>
              <div class="col s4 left">
                <label id="label_{{c.types}}" class="validate"  for="id_unit_measure">{{ c.get_unit_measure_display }}</label>
              </div>
              <div class="col s6 center-align offset-s3">
                <button id="btn_{{c.types}}" class="btn waves-effect waves-light" type="submit">Agregar</button>
              </div>
            </div>
          
        </form>
      </div>
    </li>
    
       
      
    {% endfor %}
  </ul>
  <div class="center-align">
    <a class="waves-effect waves-light btn modal-trigger" href="{% url 'resume_fix' responsable.id %}">finalizar</a>
  </div>
  

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
  </script>
  <script type="text/javascript">
  $('#alert_close').click(function(){
    $( "#alert_box" ).fadeOut( "slow", function() {
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
{% endblock %}
