{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}
	<br>
	<div class="row white renglon-logos">
		<div class="col s12 m4 valign-wrapper">
			<img class="logos-home"src="{% static 'images/fundecch.jpg' %}">	
		</div>
		<div class="col s12 m4">
			<img class="logos-home"src="{% static 'images/flia_conin.jpg' %}">		
		</div>
		<div class="col s12 m4">

			<p class="texto-ropero">
				Ropero Familiar permite que todos los integrantes de la familia tengan abrigo y zapatos.
			</p>
		</div>
	</div>
	<div class="separador"></div>
	<div class="row">
		<div class="col s12 m6">
			<a href="{% url 'receive_donation' %}" class="waves-effect waves-light btn-large boton-home"><i class="material-icons left">card_giftcard</i>Recibir Donación</a>
		</div>
		<div class="col s12 m6">
			<a href="{% url 'list_sort' %}" class="waves-effect waves-light btn-large boton-home"><i class="material-icons left">save_alt</i>Clasificar Donaciones</a>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<a href="{% url 'closet' %}" class="waves-effect waves-light btn-large boton-home"><i class="material-icons left">store</i>Ingreso al Ropero</a>
		</div>
		<div class="col s12 m6">
			<a href="{% url 'peoples_closet' %}" class="waves-effect waves-light btn-large boton-home"><i class="material-icons left">monetization_on</i>Registrar Venta</a>
		</div>
	</div>	
	<div class="separador"></div>
	<div class="row">
		<div class="col s12">
			<a href="{% url 'credits' %}"><img class="logo-info"src="../static/images/informatorio_transp.png"></a>
			<p class="center">
				HECHO CON <i class="material-icons">
favorite</i> EN 2018
 			</p>	
		</div>
	</div>	
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			{% if messages %}
	  		{% for message in messages %}
			  	var toastHTML = '<span>{{message}}</span>';
			  	M.toast({html: toastHTML, classes: 'red darken-4'});   
	  		{% endfor %}
			{% endif %}
		});
	</script>
{% endblock %}