{% extends "base.html" %}

{% block title %} Recibir Donación {% endblock %}

{% block content %}
	<div class="row">
		<h4 class="center-align">Donación recibida de {{donator.name}}</h4>
	</div>
	<h4 class="center-align">Elegir tipo de donación</h4>
	<ul class="collapsible popout">
    {% for t in types %}
			<li>
				{% if details %}
					<div id="col_{{t.name}}" class="collapsible-header center-align">
						{{t.name}}  {% for d in details %}	{% if d.donation_type == t.name %} <span class="new badge" data-badge-caption="Agregados">{{ d.quantity }} {{d.unit_measure}}</span>
						<script type="text/javascript">
 							$(function() {
 								if ({{ d.quantity }} > 0){
									$("#col_{{t.name}}").addClass("disable-col");
 								}
							});
						</script>
						 {% endif %} {% endfor %}
					</div>
				{% else %}
					<div id="col_{{t.name}}" class="collapsible-header center-align ">
						{{ t.name }}
					</div>
				{% endif %}
	     	<div class="collapsible-body">
	     		<form method="POST">
      			{% csrf_token %}
      			<div class="row">
	      			<div class="col s4 offset-s4">
	     					{% if t.name == 'Otros' %}
	     						{{form_details}}
	     						{{form_others}}
	     						<input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
	     						<input class="hide" id="id_donation_type" type="text" name="donation_type" value="{{ t.name }}">
	     					{% else %}
	     						{{ form_details}}
	     						<input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
	     						<input class="hide" id="id_donation_type" type="text" name="donation_type" value="{{ t.name }}">
	     					{% endif %}
	      			</div>
	      			<div class="col s4 left">
	      				<label id="label_{{t.name}}" class="validate"  for="id_unit_measure">{{ t.get_unit_measure_display }}</label>
	      			</div>
	      			<div class="col s6 center-align offset-s3">
								<button id="btn_{{t.name}}" class="btn waves-effect waves-light" type="submit">Agregar</button>
    					</div>
	      		</div>
	      	
	      	</form>
	      </div>
			</li>
		{% endfor %}
  </ul>
  <div class="center-align">
  	{% if details %}
  		<a class="waves-effect waves-light btn center-align" href="{% url 'resume_donation' donator.id %}">Siguiente</a>
  	{% else %}
  		<a class="waves-effect waves-light btn center-align disabled" href="{% url 'resume_donation' donator.id %}">Siguiente</a>
  	{% endif %}
  </div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		  $(document).ready(function(){
	    	$('.collapsible').collapsible();
	  	});
	</script>

	<script>
		$(document).ready(function(){
			//Cambia label calzado
			$("[id=id_quantity]:eq(1)").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Calzados').text('Pares');
    		} else {
        	$('#label_Calzados').text('Par');
    		}
			});
			//Cambia label accesorios
			$("[id=id_quantity]:eq(2)").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Accesorios').text('Unidades');
    		} else {
        	$('#label_Accesorios').text('Unidad');
    		}
			});
			//Cambia label otros
			$("[id=id_quantity]:eq(3)").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Otros').text('Unidades');
    		} else {
        	$('#label_Otros').text('Unidad');
    		}
			});
		});
	</script>
{% endblock %}