{% extends "base.html" %}

{% block title %} Recibir Donación {% endblock %}

{% block content %}
	<div class="row">
		<h4 class="center-align">Donación recibida de {{donator.name}}</h4>
	</div>
	<div class="row">
		<h5 class="col s12">Elegir tipo de donación</h5>
	</div>
	<ul class="collapsible popout">
    {% for t in types %}
			<li>
				{% if details %}
					<div id="col_{{t.name}}" class="collapsible-header center-align">
						<h6><strong>{{t.name}}</strong></h6>  {% for d in details %}	{% if d.donation_type == t.name %}
						<span class="badge" data-badge-caption="Agregados"><strong>{{ d.quantity }} {{d.unit_measure}}</strong> </span>
							<script type="text/javascript">
	 							$(function() {
	 								if ({{ d.quantity }} > 0){
										$("#col_{{t.name}}").addClass("disable-col");
	 								}
								});
							</script>
						 {% endif %} {% endfor %}
					</div>
				{% else %}
					<div id="col_{{t.name}}" class="collapsible-header center-align ">
						<h6><strong>{{ t.name }}</strong></h6>
					</div>
				{% endif %}
	     	<div class="collapsible-body">
	     		<form method="POST">
      			{% csrf_token %}
      			<div class="row">
	      			<div class="col s4 offset-s4">
	     					{% if t.name == 'Otros' %}
	     						{{form_details}}
	     						{{form_others}}
	     						<input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
	     						<input class="hide" id="id_donation_type" type="text" name="donation_type" value="{{ t.name }}">
	     					{% else %}
	     						{{ form_details}}
	     						<input class="hide" id="id_unit_measure" type="text" name="unit_measure" value="{{ t.unit_measure }}">
	     						<input class="hide" id="id_donation_type" type="text" name="donation_type" value="{{ t.name }}">
	     					{% endif %}
	      			</div>
	      			<div class="col s4 left">
	      				<label id="label_{{t.name}}" class="validate"  for="id_unit_measure">{{ t.get_unit_measure_display }}</label>
	      			</div>
	      			<div class="col m4 s12 center-align offset-m4">
								<button id="btn_{{t.name}}" class="waves-effect waves-light btn-large boton-home" type="submit">Agregar</button>
    					</div>
	      		</div>
	      	
	      	</form>
	      </div>
			</li>
		{% endfor %}
  </ul>
  <div class="row">
  	{% if details %}
  		<div class="col m4 s12 offset-m4">
  			<a class="waves-effect waves-light btn-large boton-home" href="{% url 'resume_donation' donator.id %}">Siguiente</a>
  		</div>
  	{% else %}
  		<div class="col m4 s12 offset-m4">
  			<a class="waves-effect waves-light btn-large boton-home disabled" href="{% url 'resume_donation' donator.id %}">Siguiente</a>
  		</div>
  	{% endif %}
  </div>
{% endblock %} 

{% block extra_js %}
	<!--Collapsible -->
	<script type="text/javascript">
		  $(document).ready(function(){
	    	$('.collapsible').collapsible();
	  	});
	</script>

	<!--Asigna id's diferentes a input's -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("[name=quantity]:eq(0)").attr('id', 'input_ropa');
			$("[name=quantity]:eq(1)").attr({id:'input_calzados', step:'1'});
			$("[name=quantity]:eq(2)").attr({id:'input_accesorios', step:'1'});
			$("[name=quantity]:eq(3)").attr({id:'input_otros', step:'1'});
		});
	</script>

	<!--Controla que no se ingrese 0 en cantidad -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("#btn_Ropa").click(function () {
			var num = $('#input_ropa').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("#btn_Calzados").click(function () {
			var num = $('#input_calzados').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("#btn_Accesorios").click(function () {
			var num = $('#input_accesorios').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("#btn_Otros").click(function () {
			var num = $('#input_otros').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

		});
	</script>

	<!--Solo enteros -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("#input_calzados").keyup(function () { 
	    	this.value = (this.value + '').replace(/[^0-9]/g,'');
			});

			$("#input_accesorios").keyup(function () { 
	    	this.value = (this.value + '').replace(/[^0-9]/g,'');
			});

			$("#input_otros").keyup(function () { 
	    	this.value = (this.value + '').replace(/[^0-9]/g,'');
			});
		});
	</script>

	<!--Cambia label's segun cantidad -->
	<script>
		$(document).ready(function(){
			//Cambia label calzado
			$("#input_calzados").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Calzados').text('Pares');
    		} else {
        	$('#label_Calzados').text('Par');
    		}
			});
			//Cambia label accesorios
			$("#input_accesorios").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Accesorios').text('Unidades');
    		} else {
        	$('#label_Accesorios').text('Unidad');
    		}
			});
			//Cambia label otros
			$("#input_otros").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Otros').text('Unidades');
    		} else {
        	$('#label_Otros').text('Unidad');
    		}
			});
		});
	</script>
	
{% endblock %}