{% extends "base.html" %}

{% block title %} Para Clasificar {% endblock %}

{% block content %}
<div class="contenedor z-depth-3 white">


<h3 class="center-align">Para Clasificar</h3>
	<ul class="collection">
	{% for t in list_donations %}
		<li class="collection-item avatar">
			<img src="images/yuna.jpg" alt="" class="circle">
      		<span class="title">{{t.name}}</span>
      		<p>{{t.quantity_total}} {{t.unit_measure}}<br>
         		
      		</p>
      		<a class="secondary-content"><i class="material-icons">fiber_manual_record</i></a>
    	</li> 
	{% endfor %}
    </ul>
	
        
<div class="row">
	<div class="row">
		<div class="col s12 m6">
			<a href="{% url 'sort_products' %}" class="waves-effect waves-light btn-large waves-effect waves-light btn-large boton-home">Ropero</a>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<a href="{% url 'fix_products' %}" class="waves-effect waves-light btn-large boton-home">Acondicionar</a>
		</div>
	</div>
	<div class="row">	
		<div class="col s12 m6">
			<a href="#" class="waves-effect waves-light btn-large boton-home">Basura</a>
		</div>
	</div>
	<div class="row">	
		<div class="col s12 m6">
			<a href="{% url 'home' %}" class="waves-effect waves-light btn-large boton-home">Volver</a>
		</div>
	</div>
	</div>
</div>
	
</div>
{% endblock %}

{% block extra_js %}
 
{% endblock %}
 



