{% extends "base.html" %}
{% load static %}

{% block title %} Clasificar Donaciones {% endblock %}

{% block content %}
<div class="contenedor z-depth-3 white">

	<h3 class="center-align">Clasificar Donaciones</h3>

<div class="row">
	{% if list_donations %}

		<div class="col s12 m6">

			<div class="texto-ayuda">Donaciones sin clasificar</div>

			<ul class="collection grey lighten-3 z-depth-1">
			{% for t in list_donations %}
				<li class="collection-item avatar">
					{% if t.name == "Ropa" %}
						<img src="{% static 'images/icon-ropa.png' %}" alt="" class="circle">
					{% elif t.name == "Calzados" %}
						<img src="{% static 'images/icon-calzado.png' %}" alt="" class="circle">
					{% elif t.name == "Accesorios" %}
						<img src="{% static 'images/icon-accesorio.png' %}" alt="" class="circle">
					{% elif t.name == "Otros" %}
						<img src="{% static 'images/icon-otro.png' %}" alt="" class="circle">

					{% endif %}

		      		<span class="title">{{t.name}}</span>
		      		<p>{{t.quantity_total|floatformat}} {{t.unit_measure}}<br>
		         		
		      		</p>
		    	</li> 
			{% endfor %}
		  </ul>
		
		</div>

	       
		<div class="texto-ayuda">Seleccione el destino de los artículos clasificados</div>

		<div class="separador"></div>

		<div class="col s12 m6">
			<div class="row">
				<div class="col s12 valign-wrapper" >
					<a href="{% url 'sort_products' %}" class="waves-effect waves-light btn-large waves-effect waves-light btn-large boton-home">Ropero</a>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<a href="{% url 'fix_products' %}" class="waves-effect waves-light btn-large boton-home">Acondicionar</a>
				</div>
			</div>
		</div>
	{% else %}
	<div class="center-align">
		<img src="{% static 'images/nada.gif' %}" class="responsive-img">
	</div>
	<h5 class="center-align">No hay nada por aquí</h5>
	{% endif %}
</div>
	<div class="row">	
		<div class="col s12 m4 offset-m4 ">
			<a href="{% url 'home' %}" class="waves-effect waves-light btn-large boton-home">Volver</a>
		</div>
		<div class="col m3"></div>
	</div>
	
</div>
{% endblock %}

{% block extra_js %}
 
{% endblock %}
 



