{% extends "base.html" %}
{% load static %}

{% block title %} Acondicionando {% endblock %}


{% block content %}
<div class="contenedor z-depth-3 white">
    <div class="row">
        <div class="col s12 ">
            <h4 class="center-align">Acondicionando</h4>
        </div>
    </div>
    {% if carry %}
    <div class="helper-text">Lista de voluntarios con productos en refaccion</div>
    <ul class="collapsible">
        {% for r in resp %}
            {% if r.state == 0 %}
                <li>
                    <div class="collapsible-header">
                        <p class="col s12"><b>{{r.name}}  {{r.lastname}}</b><i class="material-icons left">face</i></a></p>
                    </div>
                    {% for c in carry %}
                        {% if r.id == c.responsable_id %}
                            <div class="collapsible-body">
                                <span>Llevo: {{c.quantity}}{{c.unit_measure}} de {{c.types}} el {{c.date}}</span>
                                <a href="{% url 'give_back' c.id %}" class="modal-trigger right">Devolvió</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <h4 class="center-align">No hay productos en refacción</h4>
        <div class="separador"></div>
        <div class="center-align">
            <img src="{% static 'images/nada.gif' %}" class="responsive-img">
        </div>
        <div class="separador"></div>
    {% endif %}
    <div class="row">
        <a href="{% url 'home' %}" class="col s12 m4 offset-m1 btn modal-trigger btn-large">Volver</a>
        <div class="row hide-on-med-and-up"></div>
        <a href="{% url 'agregate_responsable' %}" class="col s12 m4 offset-m2 btn modal-trigger btn-large">Nueva Refacción</a>
    </div>
    
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
	  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
<script type="text/javascript">
	  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
</script>
 
{% endblock %}
 