
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}  Tipos de Articulos {% endblock %}

{% block content %}
<div class="contenedor z-depth-3 white">
	<form method="post">
		{% csrf_token %}
		<div class="input-field">
			{{ form.as_p }}
		</div>
		<div class="center-align">
			<button class="btn waves-effect waves-light" type="submit">Guardar</button>
		</div>
	</form>
</div>
	<!-- {{ form }} -->
{% endblock %}

{% block extra_js %}
<script type="text/javascript">$(document).ready(function(){
    $('select').formSelect();
  });</script>
{% endblock%}