{% extends "base.html" %}
{% load static %}
{% block title %}Bienvenido{% endblock %}

{% block content %}

	<h4 class="center-align">Bienvenido</h4>
	<div class="row">
		<div class="col s12">
			<div class="card z-depth-5">
				<div class="card-image img-login">
          <img src="{% static 'images/flia_conin.jpg' %}">
        </div>
        <div class="card-content">
        	<div class="ayuda-iniciosesion grey-text text-darken-3">
        		Ingrese su nombre de usuario y contaseña
        	</div>
        	<form method="POST">
        		{% csrf_token %}
        		<div class="row">
        			<div class="input-field col s12">
        				<i class="material-icons prefix">perm_identity</i>
								{{form.username}}
								{{form.username.label_tag}}
        			</div>
        			<div class="input-field col s12">
        				<i class="material-icons prefix">lock</i>
								{{form.password}}
								{{form.password.label_tag}}
        				{% if form.non_field_errors %}
					        {% for error in form.non_field_errors %}
					          <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{error}}</span>
					        {% endfor %}
						{% endif %}
                    </div>
        			<div class="center-align">
        				<button type="submit" class="waves-effect waves-light btn-large boton-rojo"><i class="material-icons align-v-icon">fingerprint</i>Entrar</button>
        			</div>
        		</div>
        	</form>
        </div>

			</div>
		</div>
	</div>

 <!--  <div class="card z-depth-5">
    <div class="card-image waves-effect waves-block waves-light  img-login">
      <img class="activator" src="../static/images/flia_conin.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 center"><strong>Bienvenido</strong></span>
      <p class="center">Toque la imagen para iniciar sesión</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4 text-center"><i class="material-icons right">close</i></span>
      <span class="ayuda-iniciosesion grey-text text-darken-3">Ingrese su nombre de usuario y contaseña</span>
	    <form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">perm_identity</i>
						{{form.username}}
						{{form.username.label_tag}}
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
						{{form.password}}
						{{form.password.label_tag}}
					</div>
					<div class="center-align">
						<button type="submit" class="waves-effect waves-light btn-large"><i class="material-icons">fingerprint</i>Entrar</button>
					</div>
			</form>
    </div>
  </div> -->
            	
{% endblock %}