{% extends "base.html" %}

{% block title %}Barrios{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<h2 class="center-align">Barrios</h2>
		<div class="row collection">
			{% for n in neigh %}
				<a href="{% url 'edit_neigh' n.id %}" class="collection-item">{{n.name}}</a>		
			{% endfor %}
		</div>
		<h3 class="center-align">Agregar un Barrio</h3>
		<form action="/adm/barrios/" method="POST">
			{% csrf_token %}
			{{form}}
			<div class="row">
				<div class="col s12 m6 push-m3">	
					<input type="submit" value="Agregar" class="btn-large boton-perfil">
				</div>
			</div>
		</form>
	</div>
{% endblock %}