{% extends "base.html" %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
<div class="contenedor z-depth-3 white">
  	<form method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
      <h4 class="center-align">Editar Perfil</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          {{form.first_name}}
          {{form.first_name.label_tag}}
          {% if form.first_name.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form.first_name.errors}}</span>
          {% else %}
          <span class="helper-text" data-error="wrong" data-success="right">{{form.first_name.help_text}}</span>
          {% endif %}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          {{form.last_name}}
          {{form.last_name.label_tag}}
          {% if form.last_name.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form.last_name.errors}}</span>
          {% else %}
          <span class="helper-text" data-error="wrong" data-success="right">{{form.last_name.help_text}}</span>
          {% endif %}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone_android</i>
          {{form_profile.phone_number}}
          {{form_profile.phone_number.label_tag}}
          {% if form_profile.phone_number.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_profile.phone_number.errors}}</span>
          {% else %}
           <span class="helper-text" data-error="wrong" data-success="right">{{form_profile.phone_number.help_text}}</span>
          {% endif %}
        </div>

        <div class="file-field input-field col s12">
          <div class="btn">
            <span>{{form_profile.image.label_tag}}</span>
            <input type="file" name="image" accept="image/*" id="id_image">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          {% if user.profile.image %}
            <span class="helper-text" data-error="wrong" data-success="right">Actualmente: <a href="{{ user.profile.image.url}}">{{ user.profile.image.url}}</a></span>
          {% endif %}
        </div>
        <label class="col s12">
          <input type="checkbox" name="image-clear" id="image-clear_id"/>
          <span>Limpiar</span>
        </label>
      </div>
      <div class="row">
        <div class="col s12 m4 push-m4">
          <button class="waves-effect waves-light btn-large boton-home" type="submit">Guardar</button>
        </div>
      </div>
    </form>  
  </div>
{% endblock %}
