{% extends "base.html" %}

{% block title %}Pefil de {{user.first_name}}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col s12 m8 push-m2">
			<div class="card">				
				<div class="card-content">
					{% if user.first_name %}
						<p>Nombre: {{user.first_name}}</p>
						<br>
					{% else %}
						<p>Nombre: [Editar para agregar]</p>
						<br>
					{% endif %}
					<p>Apellido: {{user.last_name}}</p>
					<br>
					<p>Nombre de usuario: {{user.username}}</p>
					<br>
					<p>Número de Teléfono: {{user.profile.phone_number}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m2"></div>
		<div class="col s12 m4">
			<a href="{% url 'home' %}" class="btn-large boton-perfil">Volver</a>
		</div>
		<div class="col s12 m4">
			<a href="#" class="btn-large boton-perfil">Editar</a>
		</div>
	</div>	
{% endblock %}