{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Perfil de {{user.username|lower}}{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<div class="row">
			<a class="right btn" href="{% url 'profile_user_edit' user.id %}">Editar</a>
		</div>
		<h3 class="center-align">Perfil de Usuario</h3>
		<div class="divider"></div>
		<div class="separador"></div>
		<div class="row">
			<div class="col s12 m5 l5 center-align">
				{% if user.profile.image %}
					<div>
    				<img class="circle responsive-img z-depth-4" style="border: 2px solid white;" src="{{ user.profile.image.url}}">
					</div>
    		{% else %}
    			<img class="circle responsive-img z-depth-4" style="border: 2px solid white;" src="{% static 'images/avatar.png' %}">
				{% endif %}
				<span class="name col s12"><h5><strong>{{ user.username }}</strong></h5></span>
				<div class="divider hide-on-med-and-up"></div>
			</div>
			<div class="col s12 m7 l7">
      	{% if user.first_name %}
					<p class="flow-text"><strong>Nombre: </strong>{{user.first_name}}</p>
				{% else %}
					<p class="flow-text"><strong>Nombre: </strong><em>[Editar para agregar]</em></p>
				{% endif %}
      	<div class="divider"></div>
      	<div class="separador"></div>
      	{% if user.last_name %}
					<p class="flow-text"><strong>Apellido: </strong>{{user.last_name}}</p>
				{% else %}
					<p class="flow-text"><strong>Apellido: </strong><em>[Editar para agregar]</em></p>
				{% endif %}
      	<div class="divider"></div>
      	<div class="separador"></div>
      	{% if user.profile.phone_number %}
				<p class="flow-text"><strong>Número de telefono: </strong>
					{% for p in user.profile.phone_number|make_list %}{% if forloop.counter == 5 %}-{% endif %}{{p}}{% endfor %}
				</p>
				{% else %}
					<p class="flow-text"><strong>Número de telefono: </strong><em>[Editar para agregar]</em></p>
				{% endif %}
   			<div class="divider"></div>
   			<a href="{% url 'change_password' user.id %}">Cambiar contraseña</a>
			</div>
		</div>
			<div class="row">
				<div class="col s12 m4 push-m4">
					<a href="{% url 'home' %}" class="btn-large boton-perfil">Volver</a>
				</div>
				<!--<div class="col s12 m4 push-m3">
					<a href="{% url 'profile_user_edit' user.id %}" class="btn-large boton-perfil">Editar</a>
				</div>-->
			</div>
		</div>
{% endblock %}


{% block extra_js %}
{% endblock %}