{% extends "base.html" %}

{% block title %}Familiares de Referente{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<h3 class="center-align hide-on-small-only">Familiares de {{ref.family.lastname}}, {{ref.family.firstname}}</h3>
		<h4 class="center-align hide-on-med-and-up">Familiares de {{ref.family.lastname}}, {{ref.family.firstname}}</h4>
		<div class="row collection">
			{% if fam.count == 1 %}
				<div class="collection-item">
					Sin familiares registrados
				</div>
			{% else %}
				{% for f in fam %}
					{% if f.role == 'f' %}
						<a href="{% url 'relative_profile' f.id %}" class="collection-item">{{f.lastname}}, {{f.firstname}}</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="col s12 m4"></div>
			<div class="col s12 m4">
				<a href="{% url 'referring_profile' ref.id %}" class="btn-large boton-perfil">Volver</a>
			</div>
		</div>

		<div class="fixed-action-btn">
			<a href="{% url 'register_family' ref.id %}" class="btn-floating btn-large waves-effect waves-light right pulse"><i class="material-icons">group_add</i></a>
		</div>
    </div>
{% endblock %}