{% extends "base.html" %}

{% block title %} Familias {% endblock %}

{% block content %}

	<h2 class="center-align">Familias</h2>
	<form action="/busqueda_referente/" method="POST">
		<div class="row">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="Buscar" class="btn">
			<a href="/registrar_referente_f/"  class="btn">Registrar</a>
			{% for r in ref %}
				<div class="row collection">	
					<a href="/referente/{{r.id}}/" class="collection-item">{{r.lastname}}, {{r.firstname}}</a>
				</div>
			{% endfor %}
		</div>
	</form>
 
{% endblock %}