{% extends "base.html" %}

{% block title %}Resultado de Búsqueda{% endblock %}

{% block content %}

		{% if total > 0 %}
			<h3>Resultados para: "{{query}}"</h3>
			<div class="row collection">
				{% for r in ref %}
					<a href="/referente/{{r.id}}/" class="collection-item">{{r.lastname}}, {{r.firstname}}</a>
				{% endfor %}
			</div>
		{% else %}
			<h3>No se han encontrado resultados para: "{{query}}"</h3>
		{% endif %}

	<a href="/busqueda_referente/" class="btn">Volver</a>
	<div class="fixed-action-btn">
		<a href="/registrar_referente_f/" class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">group_add</i></a>
	</div>

{% endblock %}