{% extends "base.html" %}

{% block title %}Familiares de Referente{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<h2 class="center-align">Familiares de {{ref.family.lastname}}, {{ref.family.firstname}}</h2>
		<div class="row collection">
			{% for f in fam %}
				{% if f.role == 'f' %}
					<a href="{% url 'relative_profile' f.id %}" class="collection-item">{{f.lastname}}, {{f.firstname}}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col s12 m4"></div>
			<div class="col s12 m4">
				<a href="{% url 'referring_profile' ref.id %}" class="btn-large boton-perfil">Volver</a>
			</div>
		</div>

		<div class="fixed-action-btn">
			<a href="{% url 'register_family' ref.id %}" class="btn-floating btn-large waves-effect waves-light right pulse"><i class="material-icons">group_add</i></a>
		</div>
    </div>
{% endblock %}