{% extends "base.html" %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}
	<form method="POST">
  	{% csrf_token %}
    <h4 class="center-align">Registrar Usuarios</h4>
    {% for field in form_user.visible_fields %}
    	<div class="input-field">
    		{{field}}
    		{{field.label_tag}}
    		{% if field.help_text %}
    			 <span class="helper-text" data-error="wrong" data-success="right">{{ field.help_text }}</span>
        {% endif %}
      </div>
    {% endfor %}
  	<div >
    	<button class="btn waves-effect waves-light" type="submit">Registrar</button>
  	</div>
  </form>
{% endblock %}
