{% extends "base.html" %}

{% block title %}Registrar Referente{% endblock %}

{% block content %}
<div class="contenedor z-depth-3 white">
  <h3 class="center-align">Registro de Referente</h3>
	<form method="POST" class="row">
		{% csrf_token %}
		    <div class="input-field col s12">
          {{form_family.firstname}}
          {{form_family.firstname.label_tag}}
        </div>
        <div class="input-field col s12">
          {{form_family.lastname}}
          {{form_family.lastname.label_tag}}
        </div>
        <div class="input-field col s12" id="input-dni">
          {{form_family.dni}}
          {{form_family.dni.label_tag}}
          {% if form_family.dni.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_family.dni.errors|striptags}}</span>
          {% endif %}
        </div>
        <div class="input-field col s12">
          {{ form_family.birth }}
          {{ form_family.birth.label_tag }}
        </div>
        <div class="input-field col s12">
          {{form_refering.phone}}
          {{form_refering.phone.label_tag}}
          {% if form_refering.phone.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_refering.phone.errors|striptags}}</span>
          {% else %}
            <span class="helper-text" data-error="wrong" data-success="right">Opcional</span>
          {% endif %}
        </div>
        <div class="input-field col s12">
          {{form_refering.adress}}
          {{form_refering.adress.label_tag}}
        </div>
		    <div class="input-field col s12" id="neigh_select">
      		<select name="neigh_id" required>
  		      <option value="" disabled selected>Elegir Barrio</option>
  		      {% for n in neigh %}
  		      	<option value={{n.id}}>{{n.name}}</option>
  		      {% endfor %}
      		</select>
    		  <label>Barrio</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
  		  </div>
  		<div class="row">
  			<div class="col s12 m4 push-m4">
				<button type="submit" class="btn-large boton-perfil" id="btn_register">Guardar</button>
  			</div>
  		</div>
  </form>
</div>
{% endblock %}
{% block extra_js %}

	<script type="text/javascript">
		$(document).ready(function(){
    		$('.datepicker').datepicker(
    			{ 
		            firstDay: true, 
		            format: 'yyyy-mm-dd',
		            yearRange: 100,
		            i18n: {
		                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
		                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
		                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
		                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
		                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],
		                cancel: 'Cancelar'
                }
        	});

    		$('select').formSelect();	

  		});	
	</script>

  <!--Comprobaciones -->
  <script type="text/javascript">
    $(document).ready(function() {document  
      $("#btn_register").on("click", function(e){
        var neigh = $("select[name='neigh_id']").val();
        //Select sin barrio
        if (neigh === null || neigh == '') {
          e.preventDefault();
          $('#neigh_select').children('span').html('<span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">Elija un barrio para finalizar</span>');
        }else {
          $('#neigh_select').children('span').text("").removeClass("red-text");
        }

        $("select[name=neigh_id]").change(function(){
            $('#neigh_select').children('span').text("").removeClass("red-text");
        });
      });
      $("input[name=dni]").keyup(function (){
        console.log("cambio input dni");
        $('#input-dni').children('span').remove();
      }); 
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("[name=phone]").attr({pattern:'[0-9]+([-\,][0-9]+)?', type:'tel', maxlength:'11'});
    });
  </script>

  <!-- AGREGA '-' AL NUMERO DE TEL-->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#id_phone').keyup(function() {
        var val = this.value.replace(/\D/g, '');
        var newVal = '';
        if (val.length > 4) {
          newVal += val.substr(0, 4) + '-';
          val = val.substr(4);
        }
        newVal += val;
        this.value = newVal;
      });
    });
  </script>

{% endblock %}