{% extends "base.html" %}

{% block title %}Registrar Referente{% endblock %}

{%block content%}
	<div class="contenedor z-depth-3 white">
		<h3 class="center-align">Registro de Referente</h3>
		<form method="POST">
			<div class="row">
				<div class="col s12 m8 push-m2">
					{% csrf_token %}
					{{form.firstname.label_tag}}
					{{form.firstname}}
					{{form.lastname.label_tag}}
					{{form.lastname}}
					{{form.dni.label_tag}}
					{{form.dni}}
					{{form.birth.label_tag}}
					<input type="text" class="datepicker" name='birth'>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m6 push-m3">
					<button type="submit" class="btn-large boton-perfil">Guardar</button>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m6 push-m3">
					<a href="/busqueda_referente/" class="btn-large boton-perfil">Volver</a>
				</div>
			</div>
		</form>
	</div>

{%endblock%}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
    		$('.datepicker').datepicker(
    			{ 
            firstDay: true, 
            format: 'yyyy-mm-dd',
            yearRange: 100,
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"]
            }
        });
  		});
	</script>
{% endblock %}