{% extends "base.html" %}

{% block title %}Registrar Referente{% endblock %}

{% block content %}
	<h3 class="center-align">Registro de Referente</h3>
	<form method="POST">
		<div class="row">
			<div class="col s12 m8 push-m2">	
				{% csrf_token %}
				{{form.as_p}}
				<div class="input-field">
		    		<select name="neigh_id">
				      <option value="" disabled selected>Elegir Barrio</option>
				      {% for n in neigh %}
				      	<option value={{n.id}}>{{n.name}}</option>
				      {% endfor %}
		    		</select>
		    		<label>Barrio</label>
		  		</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 push-m3">
				<button type="submit" class="btn-large boton-perfil">Guardar</button>
			</div>
		</div>
	</form>

{% endblock %}
{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('select').formSelect();
			});
	</script>
{% endblock %}