{% extends "base.html" %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}
  <div class="contenedor z-depth-3 white">
  	<form method="POST">
    	{% csrf_token %}
      <h4 class="center-align">Registrar Usuario</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          {{form_user.username}}
          {{form_user.username.label_tag}}
          {% if form_user.username.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_user.username.errors}}</span>
          {% else %}
            <span class="helper-text" data-error="wrong" data-success="right">{{form_user.username.help_text}}</span>
          {% endif %}
        </div>
          <div class="input-field col m6 s12">
            <i class="material-icons prefix">lock_outline</i>
            {{form_user.password1}}
            {{form_user.password1.label_tag}}
            {% if form_user.password1.errors %}
              <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_user.password1.errors}}</span>
            {% else %}
              <span class="helper-text" data-error="wrong" data-success="right">{{form_user.password1.help_text}}</span>
            {% endif %}
          </div>
          <div class="input-field col m6 s12">
            <i class="material-icons prefix hide-on-med-and-up">lock_outline</i>
            {{form_user.password2}}
            {{form_user.password2.label_tag}}
            {% if form_user.password2.errors %}
              <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_user.password2.errors}}</span>
            {% else %}
              <span class="helper-text" data-error="wrong" data-success="right">{{form_user.password2.help_text}}</span>
            {% endif %}
          </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          {{form_user.first_name}}
          {{form_user.first_name.label_tag}}
          {% if form_user.first_name.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_user.first_name.errors}}</span>
          {% else %}
          <span class="helper-text" data-error="wrong" data-success="right">{{form_user.first_name.help_text}}</span>
          {% endif %}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          {{form_user.last_name}}
          {{form_user.last_name.label_tag}}
          {% if form_user.last_name.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_user.last_name.errors}}</span>
          {% else %}
          <span class="helper-text" data-error="wrong" data-success="right">{{form_user.last_name.help_text}}</span>
          {% endif %}
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone_android</i>
          {{form_user.phone_number}}
          {{form_user.phone_number.label_tag}}
          {% if form_user.phone_number.errors %}
            <span class="helper-text red-text text-accent-4" data-error="wrong" data-success="right">{{form_user.phone_number.errors}}</span>
          {% else %}
           <span class="helper-text" data-error="wrong" data-success="right">{{form_user.phone_number.help_text}}</span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 push-m4">
          <button class="waves-effect waves-light btn-large boton-home" type="submit">Registrar</button>
        </div>
      </div>
    </form>  
  </div>
{% endblock %}
