{% extends "base.html" %}

{% block title %}Pefil de {{fam.firstname}}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col s12 m6 push-m3">
			<div class="card">
				<div class="card-content">
					<p>Nombre: {{fam.firstname}}</p>
					<br>
					<p>Apellido: {{fam.lastname}}</p>
					<br>
					<p>DNI: {{fam.dni}}</p>
					<br>
					<p>Fecha de Nacimiento: {{fam.birth}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m4"></div>
		<div class="col s12 m4">
			<a href="/referente/familiares/perfil_familiar/{{fam.id}}/editar" class="btn-large boton-perfil">Editar</a>
		</div>		
	</div>	
	<div class="row">
		<div class="col s12 m4"></div>
		<div class="col s12 m4">
			<a href="/referente/{{fam.ref}}/familiares" class="btn-large boton-perfil">Volver</a>
		</div>		
	</div>
{% endblock %}