{% extends "base.html" %}

{% block title %} Resumen de Donaciones {% endblock %}

{% block content %}
  <div class="contenedor z-depth-3 white">
    <h3 class="center-align">Resumen de Donación</h3>
      <ul class="collection with-header z-depth-2">
        <li class="collection-header grey lighten-3"><h4>{{ donator.name }}  <a class="modal-trigger secondary-content btn"  href="#edit_name"><i class="material-icons">edit</i></a></h4>
        </li>
        {% for res in resumes %}
          <li class="collection-item row grey lighten-4">
            <div class="col s7">
              {{res.donation_type}} {{res.quantity}} {{ res.get_unit_measure_display }}
            </div>
            <div class="col s1 right">
              <a href="#modal_delete{{res.id}}" class="modal-trigger right-align secondary-content btn"><i class="material-icons">delete</i></a>
            </div>
            <div class="col s1 right">
              <!--<a href="{% url 'edit_donation' res.id %}" class="modal-trigger right secondary-content btn"><i class="small material-icons">edit</i></a>
            </div>-->

            <!-- Modal Structure delete donation -->
            <div id="modal_delete{{res.id}}" class="modal">
              <div class="modal-content">
                <h4>Eliminar donación</h4>
                <p>¿Desea eliminar ({{res.donation_type}} {{res.quantity}} {{ res.get_unit_measure_display }}) del resumen de donación? </p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <a href="{% url 'delete_donation' res.id %}" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
              </div>
            </div>

          </li>
        {% endfor %}
      </ul>
      <div class="row">
        <div class="col s12 m6">
          <a href="{% url 'items_donation' donator.id %}" class="btn waves-effect waves-light green darken-1"><i class="material-icons">add</i></a>
          <span>Agregar un nuevo tipo de donación</span>
        </div>
      </div>
      <div class="input-field">
        <span class="helper-text" data-error="wrong" data-success="right">Presionar en <i class="tiny material-icons">edit</i> para editar </span>
        <span class="helper-text" data-error="wrong" data-success="right">Presionar en <i class="tiny material-icons">delete</i> para eliminar </span>
      </div>
    <div class="row">
      {% if resumes %}
        <div class="col m4 s12 offset-m4">
          <a class="waves-effect waves-light btn-large boton-home " href="{% url 'finish_donation' donator.id %}">Siguiente</a>
        </div>
      {% else %}
        <div class="col m4 s12 offset-m4">
          <a class="waves-effect waves-light btn-large boton-home disabled" href="{% url 'finish_donation' donator.id %}">Siguiente</a>
        </div>
      {% endif %}
    </div> 




    {% for r in resumes %}
      <!-- Modal Structure edit donation -->
      <div id="modal_edit{{r.id}}" class="modal">
        <div class="modal-content">
          <h4>Editar donación</h4>
          <p>{{r.donation_type}}</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
      </div>
    {% endfor %}



       
    <!-- Modal Edit Donator -->
    <div id="edit_name" class="modal">
      <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
        <h4>Editar Razón Social o Nombre</h4>
        {{don_form}}  
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
          <button class="btn-flat waves-effect waves-light" name="edit_donator" type="submit">Guardar</button>
        </div>
      </form>
    </div>
    
  </div>

{% endblock %}


{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>
{% endblock %}