{% extends "base.html" %}

{% block title %} Resumen de Acondicionar {% endblock %}

{% block content %}
<div class="contenedor z-depth-3 white">
	<h4 class="center-align">Resumen Voluntario</h4>
	  <ul class="collection with-header grey lighten-3 z-depth-1">
      <li class="collection-header"><h4>{{ responsable.name }}</h4>
      </li>
			{% for res in resumes %}
      	<li class="collection-item">{{res.types}} {{res.quantity}} 
      		{{ res.get_unit_measure_display }}
      		<a href="#modal_delete{{res.id}}" class="modal-trigger right"><i class="material-icons">delete</i></a>

          <!-- Modal Structure delete donation -->
          <div id="modal_delete{{res.id}}" class="modal">
            <div class="modal-content">
              <h4>Eliminar articulo</h4>
              <p>¿Desea eliminar ({{res.types}} {{res.quantity}} {{ res.get_unit_measure_display }}) del resumen de articulos para acondicionar? </p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
              <a href="{% url 'delete_fix' res.id %}" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
            </div>
          </div>

      	</li>
			{% endfor %}
    </ul>
	<div class="center-align">
  	<a class="btn modal-trigger btn-large" href="{% url 'list_fix' %}">Finalizar</a>
  </div> 


</div>

		 
<!-- Modal Edit Donator -->


{% endblock %}


{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
  		$('.modal').modal();
		});
	</script>
{% endblock %}