{% extends "base.html" %}

{% block title %}Ventas{% endblock %}

{% block alert %}
{% if alert %}
  <div class="container">
    <div class="row center-align" id="alert_box">
      <div class="col s12 ">
        <div class="card #e53935 red darken-1">
          <i id="alert_close" class="material-icons right-align secondary-content white-text" aria-hidden="true">close</i>
          <div class="card-content white-text">
            <span class="card-title"><p><i class="material-icons align-v-icon" aria-hidden="true">error</i>Atención</p></span>
            <p>{{alert}}</p>
          </div>
        </div>
      </div>
    </div>        
  </div> 
 {% endif %}
{% endblock %}


{% block content %}
	<div class="contenedor z-depth-3 white">
		
		<div class="row">
			<h3 class="col s12 center-align">{{entry.family.lastname}}, {{entry.family.firstname}}</h3>
			<h4 class="left-align-align hide-on-small-only" style="margin-left:24px;margin-bottom:0;">Subtotal: ${{sale.total}}</h4>
	  	<h5 class="left-align hide-on-med-and-up" style="margin-left:24px;margin-bottom:0;">Subtotal: ${{sale.total}}</h5>
		</div>
		<ul class="collapsible popout">
			{% for type in types %}
		    <li>
		    	{% if sale_details %}
						<div id="col_{{type.id}}" class="collapsible-header center-align">
							<h6><strong>{{ type.name }}</strong></h6> {% for sale in sale_details %}{% if sale.product_type == type.name %} <span class="badge" data-badge-caption="">
								<strong>{{ sale.quantity|floatformat }} {{sale.unit_measure}} - ${{sale.total}}</strong></span>

							<!-- Script que desactiva tipo ya cargado -->
							<script type="text/javascript">
	 							$(document).ready(function() {
	 								if ({{ sale.total }} > 0){
										$("#col_{{type.id}}").addClass("disable-col");
	 								}
								});
							</script>
							 {% endif %} {% endfor %}
						</div>
					{% else %}
						<div id="col_{{type.name}}" class="collapsible-header center-align ">
							<h6><strong>{{ type.name }}</strong></h6>
						</div>
					{% endif %}
		      <div class="collapsible-body">
      			<div class="row center-align">
      				<h6>
      					<strong class="grey-text text-darken-2 center-align">Precio sugerido por {{type.get_unit_measure_display }}: ${{ type.price}}
      					</strong>
      				</h6>
      			</div>
		      	<form method="POST" id="form">
		      		{% csrf_token %}
			      	<div class="row">
			      			<div class="col s8 m4 offset-m4 input-field">
		     						{{ form }}
						        <span class="helper-text" data-error="wrong" data-success="right">Ingrese la cantidad a vender</span>
		     						<!-- input's hiden para enviar por POST-->
		     						<input class="hide" type="text" name="product_type" value="{{ type.name }}">
		     						<input class="hide" type="text" name="unit_measure" value="{{ type.unit_measure }}">
		     						<input type="number" class="hide"  name="price" value="{{ type.price }}">
			      			</div>
			      			<div class="col s4 left">
			      				<label id="label_{{type.name}}" class="validate"  for="id_unit_measure">{{ type.get_unit_measure_display }}</label>
			      			</div>
			      			{% if type.quantity_total >= 0 %}
			      				<div class="col m4 s12 center-align offset-m4">
											<button id="btn_{{type.name}}" class="waves-effect waves-light btn-large boton-home" type="submit">Agregar</button>
		    						</div>
			      			{% else %}
			      				<div class="col m4 s12 center-align offset-m4">
											<button class="btn waves-effect waves-light disabled"  type="submit">Agregar</button>
		    						</div>
			      			{% endif %}
			      	</div>
		      	</form>
		      </div>
		    </li>
			{% endfor %}

	  </ul>
	  <div class="row">
	  	{% if sale_details %}
	  		<div class="col m4 s12 offset-m4">
	  			<a class="waves-effect waves-light btn-large boton-home" href="{% url 'summary_sale' entry.id %}">Siguiente</a>
	  		</div>
	  	{% else %}
	  		<div class="col m4 s12 offset-m4">
	  			<a class="waves-effect waves-light btn-large boton-home disabled" href="{% url 'summary_sale' entry.id %}">Siguiente</a>
	  		</div>
	  	{% endif %}
	  </div>
	  	
	</div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
    	$('.collapsible').collapsible();
  	});
	</script>

	<!--Asigna id's diferentes a input's -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("[name=quantity]:eq(0)").attr('id', 'input_ropaverano');
			$("[name=quantity]:eq(1)").attr('id', 'input_ropainvierno');
			$("[name=quantity]:eq(2)").attr({id:'input_calzados', step:'1'});
			$("[name=quantity]:eq(3)").attr({id:'input_accesorios', step:'1'})
			$("[name=quantity]:eq(4)").attr({id:'input_otros', step:'1'});
		});
	</script>

	<!--Controla que no se ingrese 0 en cantidad -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("[id='btn_Ropa Verano']").click(function (event) {
			var num = $('#input_ropaverano').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("[id='btn_Ropa Invierno']").click(function (event) {
			var num = $('#input_ropainvierno').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("#btn_Calzados").click(function (event) {
			var num = $('#input_calzados').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("#btn_Accesorios").click(function (event) {
			var num = $('#input_accesorios').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

			$("#btn_Otros").click(function (event) {
			var num = $('#input_otros').val();
			if (num <= 0) {
				alert("El valor ingresado deber ser mayor a 0");
				event.preventDefault();
			}
			});

		});
	</script>

	<!--Solo enteros -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("#input_calzados").keyup(function () { 
	    	this.value = (this.value + '').replace(/[^0-9]/g,'');
			});

			$("#input_accesorios").keyup(function () { 
	    	this.value = (this.value + '').replace(/[^0-9]/g,'');
			});

			$("#input_otros").keyup(function () { 
	    	this.value = (this.value + '').replace(/[^0-9]/g,'');
			});
		});
	</script>

	<!--Cambia label's segun cantidad -->
	<script>
		$(document).ready(function(){
			//Cambia label calzado
			$("#input_calzados").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Calzados').text('Pares');
    		} else {
        	$('#label_Calzados').text('Par');
    		}
			});
			//Cambia label accesorios
			$("#input_accesorios").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Accesorios').text('Unidades');
    		} else {
        	$('#label_Accesorios').text('Unidad');
    		}
			});
			//Cambia label otros
			$("#input_otros").keyup(function(){
				if ($(this).val() > 1) {
        	$('#label_Otros').text('Unidades');
    		} else {
        	$('#label_Otros').text('Unidad');
    		}
			});
		});
	</script>

	<script type="text/javascript">
	  $('#alert_close').click(function(){
	    $( "#alert_box" ).fadeOut( "slow", function() {
	    });
	  });
</script>

{% endblock %}