{% extends "base.html" %}

{% block title %}Reporte de Ventas{% endblock %}

{% block content %}
  <div id="contenedor" class="contenedor z-depth-3 white">
    <div class="row">
      <h2 class="center-align">Reporte de ventas</h2>
      <div id="graphic_sale" class="col s12 m6"></div>
      <div class="col s12 m6">
        <form method="POST" id="form-report" action="{% url 'sales_report' %}">
         <div class="input-field">
          {% csrf_token %}
            <select multiple name="sale_id">
              <option value="" disabled selected>Elija tipo de articulo</option>
              {% for type in types %}
                <option value='{{ type.name }}'>{{type.name}}</option>
              {% endfor %}
            </select>
            <span class="helper-text" data-error="wrong" data-success="right">Seleccione el tipo de articulo del que desea un reporte</span>
          </div>
          <div class="row"></div>
         <div class="input-field">
            <input type="text" class="datepicker" name='begin' id='id_begin' required>
            <label for="id_begin" class="">Desde:</label>
            <span class="helper-text" data-error="wrong" data-success="right">Ingrese fecha de inicio del reporte</span>
          </div>
          <div class="row"></div>
           <div class="input-field">
            <input type="text" class="datepicker" name='finish' id='id_finish' required>
            <label for="id_finish" class="">Hasta:</label>
            <span class="helper-text" data-error="wrong" data-success="right">Ingrese fecha de inicio del reporte</span>
          </div>

          <div class="row">
            <div class="col s12 m8 push-m2">
              <input type="submit" value="Generar Reporte" class="btn-large boton-perfil" id="btn_buscar">
            </div>
          </div>
        </form>
      </div>

      <!--Script form-report submit sin recargar -->
      <script type="text/javascript">
        $(document).ready(function(){
          $('#form-report').submit(function(){
            $.ajax({
              data: $(this).serialize(),
              type: $(this).attr('method'),
              url: $(this).attr('action'),
              success: function(report){
                if (report.length > 0) {
                  $('#null').remove()
                  //Aca recupero los datos y muestro en template
                  var title = $('<h3 class="center-align">Reporte generado</h3>')
                  $('#id_title').html(title);
                  $('#table-report').removeClass("hide")
                  $('#id_title').removeClass("hide");
                  $('#title-table').removeClass("hide");
                  var content = $;
                  var content2 = '';
                  for (var i = 0; i < report.length; i++) {
                    if(report[i].product_type!==undefined){
                      content += ('<tr>'+'<td>'+report[i].sale__entry__family__firstname+", "+report[i].sale__entry__family__lastname+'</td>'+'<td>'+report[i].product_type+'</td>'+'<td>'+report[i].quantity+" "+report[i].unit_measure+'</td>'+'<td>'+'$ '+report[i].total+'</td>'+'</tr>')
                      
                    }else{
                      content2 += ('<p>'+'Total '+report[i].product_type_total+' - '+report[i].product_total+" (Unidad: "+report[i].unit_measure+')'+'</p>');
                    }
                  }
                  $('#table-report tbody').html(content);
                  $('#product_total').html(content2);
                  ScrollBottomSubmit();
                } else {
                  var title_null = $('<h4 class="center-align" id="null">No se realizaron ventas durante el periodo de tiempo seleccionado</h4>')
                  $('#title_null').html(title_null);
                  $('#table-report').addClass("hide");
                  $('#id_title').addClass("hide");
                  $('#title-table').addClass("hide");
                  ScrollBottomSubmit();
                }
              }
            });
            return false;
          });
        });
      </script>
      <!-- Acá termina script form-report -->

      <div class="row"></div>
      <div class="col s12 card" id="report-ajax">
        <div id="id_title"></div>
        <div id="title_null"></div>
        <h4 class="center-align hide" id="title-table">Detalles de ventas</h4>
        <table class="hide centered" id="table-report">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
          </thead>

          <tbody>
          </tbody>
        </table>
        <div id="product_total"></div>
          <!--<div class="card">
            <div class="card-content">
              <h5 class="center-align">Total vendido por tipo de producto</h5>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a href="#test4">Ropa Verano</a></li>
                <li class="tab"><a class="active" href="#test5">Ropa Invieron</a></li>
                <li class="tab"><a href="#test6">Calzados</a></li>
              </ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="test4">5 kg</div>
              <div id="test5">10 kg</div>
              <div id="test6">20 par</div>
            </div>
          </div>-->
      </div>

    </div>
  </div>
{% endblock %} 


{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tabs').tabs();
    });
        
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('select').formSelect();
      });
  </script>

  <!-- Grafico columnas -->
 <script type="text/javascript">
    Highcharts.chart('graphic_sale', {
      chart: {
         type: 'column'
      },
      title: {
         text: 'Ventas del mes'
      },
      xAxis: {
         categories: ['Tipos de productos'],
         crosshair: true
      },
      yAxis: {
      min: 0,
      title: {
        text: 'Cantidad'
      }
      },
      series:[ 
      {% for d in data %}
        {
          name: '{{d.product_type}}',
          data: [{{d.total|safe}}]
        },
      {% endfor %} 
      ]
    }); 
 </script>

  <!-- DatePicker -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker(
        { 
          firstDay: true, 
          format: 'yyyy-mm-dd',
          yearRange: 100,
          i18n: {
              months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
              monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
              weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
              weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
              weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],
              cancel: ['Cancelar'],
              done: ['Aceptar'],
          }
      });
    });
  </script>

  <!--Forzar scroll abajo del al generar reporte-->
  <script type="text/javascript">
    function ScrollBottomSubmit(){
      var height = $(document).height();
      $("html, body").animate({scrollTop:height+"px"});
    };
  </script>

{% endblock %}