{% extends "base.html" %}

{% block title %}Ventas{% endblock %}

{% block content %}
	<div class="row">
		<h3>{{entry.family.lastname}}, {{entry.family.firstname}}</h3>
		<h4 class="right-align">Subtotal: {{sale.total}}</h4>
	</div>
	<ul class="collapsible popout">
		{% for type in types %}
	    <li>
	      <div class="collapsible-header">{{type.name}}</div>
	      <div class="collapsible-body">
	      	<form method="POST">
	      		{% csrf_token %}
		      	<div class="row">
		      			<div class="col s4 offset-s4">
		     						{{form}}
		     						<input type="text" name="product_type" value="{{ type.name }}">
		     						<input type="text" name="unit_measure" value="{{ type.unit_measure }}">
		     						<input type="number" name="price" value="{{ type.price }}">
		      			</div>
		      			<div class="col s4 left">
		      				<label id="label_{{type.name}}" class="validate"  for="id_unit_measure">{{ type.get_unit_measure_display }}</label>
		      			</div>
		      			<div class="col s6 center-align offset-s3">
									<button class="btn waves-effect waves-light" type="submit">Agregar</button>
	    					</div>
		      	</div>
	      	</form>
	      </div>
	    </li>
		{% endfor %}
  </ul>
  <div class="center-align">
  		<a class="waves-effect waves-light btn center-align" href="{% url 'summary_sale' entry.id %}">Siguiente</a>
  </div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
    	$('.collapsible').collapsible();
  	});
	</script>
{% endblock %}