{% extends "base.html" %}

{% block title %} Clasificar Articulos {% endblock %}

{% block alert %}
{% if alert %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">ATENCION</span>
          <p>{{alert}}</p>
        </div>
        
      </div>
    </div>
  </div>
 {% endif %}
  
{% endblock %}  

{% block content %}



{% for p in control %}<p>{{p.name}}: {{p.quantity_total}}{{p.unit_measure}}</p>{% endfor %}

	<form method="POST">
		{% csrf_token %}
		{{form}}
		<button type="submit">Guardar</button>
	</form>


{% for t in ctotal %}<p>{{t.name}}: {{t.quantity_total}}</p>{% endfor %}


{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function(){
    $('select').formSelect();
  });
</script> 
    {% endblock %}









