{% extends "base.html" %}

{% block title %} Clasificar Articulos {% endblock %}

 
{% block alert %}
{% if alert %}

        <div class="container">
          <div class="row center-align" id="alert_box">
            <div class="col s12 ">
              <div class="card #e53935 red darken-1">
                  <div class="col s2 push-s10">
                    <i id="alert_close" class="material-icons  white-text" aria-hidden="true">close</i>
                  </div>
                <div class="card-content white-text">
                  <span class="card-title"><h5>Atencion</h5></span>
                  <p>{{alert}}</p>
                </div>
              </div>
            </div>
          </div>        
        </div> 
    
 {% endif %}
  
{% endblock %}  

{% block content %}
<h3 class="center-align">Para Ropero</h3>

<ul class="collection">
  {% for p in control %}
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title">{{p.name}}</span>
          <p>{{p.quantity_total}} {{p.unit_measure}}<br>
            
          </p>
          <a class="secondary-content"><i class="material-icons">fiber_manual_record</i></a>
      </li> 
  {% endfor %}
    </ul>



	<form method="POST">
		{% csrf_token %}
		{{form}}
		<button type="submit" data-target="modal1" class="btn modal-trigger">Guardar</button>
	</form>
  <ul class="center-align">
    <div class="separador"></div>
    <li>
      <a href="{% url 'list_sort' %}" class="waves-effect waves-light btn">Volver</a>
    </li>
  </ul>


{% for t in ctotal %}<p>{{t.name}}: {{t.quantity_total}}</p>{% endfor %}


{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$(document).ready(function(){
    $('select').formSelect();
  });
</script> 
<script type="text/javascript">
  $('#alert_close').click(function(){
    $( "#alert_box" ).fadeOut( "slow", function() {
    });
  });
</script>


    {% endblock %}









