{% extends "base.html" %}

{% block title %}Resumen de compras{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<a class="right-align secondary-content modal-trigger" href="#modal_cancel"><i class="small material-icons">clear</i></a>
		<h6>Fecha: {{entry.last_entry|date:"d/m/Y"}}</h6>
		<h4 class="center-align" id="title_bono">Bono Contribución Ropero Familiar</h4>
		{% if details %}
			<table class="highlight z-depth-2" id="table_sale">
		    <thead class="grey lighten-3">
		      <tr>
		          <th>Producto</th>
		          <th>Cantidad</th>
		          <th>Precio</th>
		      </tr>
		    </thead>

		    <tbody class="grey lighten-4">
		    	{% for det in details %}
			      <tr class="collection" id="tr_{{ det.id }}">
			        <td>{{det.product_type}}</td>
			        <td>
			        	{% if det.product_type != 'Ropa Invierno' and  det.product_type != 'Ropa Verano' %}
			        		{{ det.quantity|floatformat }} ({{det.unit_measure}})
			        	{% else %}
			        		{{ det.quantity|floatformat:3 }} ({{det.unit_measure}})
			        	{% endif %}
			      	</td>
			        <td><span style="vertical-align:-8px;">$ {{det.total}}</span>  <a href="#modal{{det.id}}" class="modal-trigger right-align secondary-content btn"><i class="material-icons">delete</i></a></td>
			      </tr>

					  <!-- Modal Structure delete sale -->
					  <div id="modal{{det.id}}" class="modal">
					    <div class="modal-content">
					      <h4 class="hide-on-small-only">Eliminar detalle de venta</h4>
	              <h5 class="hide-on-med-and-up">Eliminar detalle de venta</h5>
					      <h6>¿Desea eliminar del <i class="tiny material-icons" style="vertical-align:-2px;">shopping_cart</i>: {{det.product_type}} ({{det.quantity|floatformat}}) {{det.unit_measure}}?</h6>
					    </div>
					    <div class="modal-footer">
					    	<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
					    	<button onclick="deleteSale('{{ det.id }}')" class="modal-close waves-effect waves-green btn-flat">Aceptar</button>
					    </div>
					  </div>

					  <!--Script para funciones borrar, desactivar botones y actualizar contenido-->
					  <script type="text/javascript">
		          //Desactiva el btn finalizar si no hay tipos de ventas
		          function btnDisabled(){
		            var items = document.getElementsByClassName('collection');
		            console.log(items.length);
		            if(items.length == 0) {
		              $("#btn_fin").attr('disabled', 'disabled');
		              $("#title_bono").after('<div class="card-panel grey lighten-3" style="padding:10px;"><h6 class="center-align">Agregue al menos un tipo de venta para finalizar.</h6></div>')
		              $("#table_sale").remove();
		            } else {
		              $("#btn_fin").removeAttr("disabled");
		            }
		          }

		          function btnAgreeDisabled(){
	              var items = document.getElementsByClassName('collection');
	              console.log(items.length);
	              if(items.length == 5) {
	                $("#btn_add").attr('disabled', 'disabled');
	              } else {
	                $("#btn_add").removeClass("disabled");
	                console.log("entre en else") 
	              }
	            }

	            function refreshTotalInput(total) {
	            	console.log(total)
	            	$("#id_total").val(total);
	            }

		          function deleteSale(saleTypeId) {
		            var request = $.ajax({
		                type: "POST",
		                url: "{% url 'delete_sale' %}",
		                data: {
		                    "csrfmiddlewaretoken": "{{ csrf_token }}",
		                    "sale_type_id": saleTypeId                    
		                },
		            });
		            request.done(function(response) {
		              // Elimina sin actualizar el tipo de venta eliminado.
		              $(document).ready(function() {
		                $("tr#tr_"+response["type_id"]).remove();
		                btnDisabled();
		                btnAgreeDisabled();
		                refreshTotalInput(response["total"]);
		              });
		            });
		          }
		        </script>
		    	{% endfor %}
		    </tbody>
	  	</table>
		{% else %}
			<div class="card-panel grey lighten-3" style="padding:10px;">
				<h6 class="center-align">Agregue al menos un tipo de venta para finalizar</h6>
			</div>
		{% endif %}
	  <div class="input-field">
      <span class="helper-text" data-error="wrong" data-success="right">Presionar en <i class="tiny material-icons align-v-icon">clear</i> para cancelar venta</span>
      <span class="helper-text" data-error="wrong" data-success="right">Presionar en <i class="tiny material-icons align-v-icon">delete</i> para eliminar</span>
    </div>
	  <div class="row">
	  	{% ifequal details|length  5 %}
          <a id="btn_add" href="{% url 'sale_detail' entry.id %}" class="btn waves-effect waves-light green darken-1 disabled"><i class="material-icons">add</i></a>
      {% else %}
          <a id="btn_add" href="{% url 'sale_detail' entry.id %}" class="btn waves-effect waves-light green darken-1"><i class="material-icons">add</i></a>
      {% endifequal %}
  		<span>Agregar un nuevo tipo de venta</span>
	  </div>
		<form method="POST">
		{% csrf_token %} 
			<div class="row">
				<div class="col s12 m8">
					<h5>Colabora:<br> Sr./Sra: {{entry.family.firstname}}, {{entry.family.lastname}}</h5>
				</div>
				<div class="input-field col s12 m4">
					<i class="material-icons prefix">monetization_on</i>
					{{form.total}}
					{{form.total.label_tag}}
					<span class="helper-text" data-error="wrong" data-success="right">Confirmar cantidad total</span>
				</div>
			</div>
			<div class="row">
				{% if details %}
					<div class="col m4 s12 offset-m4">
			  		<button id="btn_fin" class="waves-effect waves-light btn-large boton-home" type="submit">Finalizar</button>
			 		</div>
			 	{% else %}
				 	<div class="col m4 s12 offset-m4">
				  	<button id="btn_fin" class="waves-effect waves-light btn-large boton-home disabled" type="submit">Finalizar</button>
				 	</div>
				{% endif %}
			</div>
		</form>
		
		<!-- Modal Cancel Sale -->
    <div id="modal_cancel" class="modal">
      <div class="modal-content">
        <a class="right-align secondary-content modal-close" href="#!">
          <i class="material-icons" style="position: absolute;top: 5px;right: 5px;">clear</i>
        </a>
        <h4 class="hide-on-small-only">Cancelar Venta</h4>
        <h5 class="hide-on-med-and-up">Cancelar Venta</h5>
        <p>¿Desea cancelar la venta con todos sus detalles?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'cancel_sale' entry.id %}" class="modal-close waves-effect waves-green btn-flat">Si, cancelar</a>
      </div>
    </div>		
	</div>
	
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
		$('.modal').modal();
		});
	</script>

{% endblock %}