{% extends "base.html" %}

{% block title %}Resumen de compras{% endblock %}

{% block content %}
	<div class="contenedor z-depth-3 white">
		<h6>Fecha: {{entry.last_entry|date:"d/m/Y"}}</h6>
		<h4 class="center-align">Bono Contribución Ropero Familiar</h4>
		<table class="highlight">
	    <thead>
	      <tr>
	          <th>Producto</th>
	          <th>Cantidad</th>
	          <th>Precio</th>
	      </tr>
	    </thead>

	    <tbody>
	    	{% for det in details %}
		      <tr>
		        <td>{{det.product_type}}</td>
		        <td>{{det.quantity}} {{det.unit_measure}}</td>
		        <td>$ {{det.total}}  <a href="#modal{{det.id}}" class="modal-trigger right"><i class="material-icons">delete</i></a></td>
		      </tr>
			  <!-- Modal Structure -->
			  <div id="modal{{det.id}}" class="modal">
			    <div class="modal-content">
			      <h4>Eliminar Detalle de venta</h4>
			      <h6>¿Desea eliminar del <i class="tiny material-icons">shopping_cart</i>: {{det.product_type}} - {{det.quantity}} {{det.unit_measure}}?</h6>
			    </div>
			    <div class="modal-footer">
			    	<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
			      <a href="{% url 'delete_sale' det.id %}" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
			    </div>
			  </div>
	    	{% endfor %}
	    </tbody>
	  </table>
	  <div class="separador"></div>
	  <div class="row">
	  	<div class="col s12 m6">
	  		<a href="{% url 'sale_detail' entry.id %}" class="btn waves-effect waves-light green darken-1"><i class="material-icons">add</i></a>
	  		<span>Agregar un nuevo tipo de venta</span>
	  	</div>
	  	<div class="row hide-on-med-and-up"></div>
	  	<div class="col s12 m6">
	  		<a class="btn waves-effect waves-light red"><i class="material-icons">delete_forever</i></a>
	  		<span>Cancelar Venta</span>
	  	</div>
	  </div>
		<form method="POST">
		{% csrf_token %} 
			<div class="row">
				<div class="col s12 m8">
					<h5>Colabora:<br> Sr./Sra: {{entry.family.firstname}}, {{entry.family.lastname}}</h5>
				</div>
				<div class="input-field col s12 m4">
					<i class="material-icons prefix">monetization_on</i>
					{{form.total}}
					{{form.total.label_tag}}
					<span class="helper-text" data-error="wrong" data-success="right">Confirmar o editar cantidad</span>
				</div>
			</div>
			<div class="row">
				<div class="col m4 s12 offset-m4">
			  	<button class="waves-effect waves-light btn-large boton-home" type="submit">Finalizar</button>
			 	</div>
			</div>
		</form>
			
	</div>
	
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function(){
		$('.modal').modal();
		});
	</script>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
    		var elems = document.querySelectorAll('.fixed-action-btn');
    		var instances = M.FloatingActionButton.init(elems, {
      	direction: 'left',
      	hoverEnabled: false
    	});
  	});
	</script>
{% endblock %}