{% extends "base.html" %}

{% block title %}Resumen de compras{% endblock %}

{% block content %}
	<h4>Resumen de compras de: {{entry.family.firstname}}, {{entry.family.lastname}}</h4>
	<table class="highlight">
    <thead>
      <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
      </tr>
    </thead>

    <tbody>
    	{% for det in details %}
      <tr>
        <td>{{det.product_type}}</td>
        <td>{{det.quantity}} {{det.unit_measure}}</td>
        <td>$ {{det.total}}</td>
      </tr>
    	{% endfor %}
    </tbody>
  </table>
  <div class="row"></div>
  <div class="center-align">
  		<a class="waves-effect waves-light btn center-align" href="{% url 'finish_sale' entry.id %}">Siguiente</a>
  </div>
{% endblock %}

{% block extra_js %}
	
{% endblock %}