
/* -----comienzo v4-------------------- */

/* -----bordes de prueba------ */

.borde-rojo{
	border: solid 1px red;
}

.borde-azul{
	border: solid 1px blue;
}

.borde-anaranjado{
	border: solid 1px orange;
}

.borde-verde{
	border: solid 1px green;
}

.borde-amarillo{
	border: solid 1px yellow;
}

.borde-negro{
	border: solid 1px black;
}


/* -----bordes de prueba------ */

@media screen and (min-width: 993px){
	nav a.sidenav-trigger {
    	display: inline;
	}
}