
/* -----comienzo v4-------------------- */

/* -----bordes de prueba------ */

.borde-rojo{
	border: solid 1px red;
}

.disable-col{
	pointer-events: none;
}

.borde-azul{
	border: solid 1px blue;
}

.borde-anaranjado{
	border: solid 1px orange;
}

.borde-verde{
	border: solid 1px green;
}

.borde-amarillo{
	border: solid 1px yellow;
}

.borde-negro{
	border: solid 1px black;
}

/* -----bordes de prueba------ */


body{
	background-image: url(../images/backgroundapp1.gif
);
	background-repeat: repeat;
	background-size: 20%;
}

.divisor{
	border-bottom: 1px solid lightgrey;
}

.contenedor{
	padding: 1% 3% 2% 3%;
	margin-top: 15px;
	border-radius: 4px;
}

.background{
	background-image: url(../images/background.jpg);
	background-size: cover;
}
.nombre-usuario{
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(155,46,43,.6);/*#9b2e2b;*/
	border-radius: 3px 3px 0 0;
}
.nombre-usuario a span{
	font-size: 1.3em!important;
}

.divider{
	margin:0!important;
}

.title-menu{
	padding-left: 5px;
	height: 30px;
	line-height: 2em;

}
.title-menu:first-of-type{
	margin-top: -8px;
}

.logos-home{
	width: 70%;
	display: block;
	margin: 0 auto;
}
.logo-info{
	max-width: 200px;
	display:  block;
	margin: auto;
}

.renglon-logos{
	padding: 30px 20px;
}

.texto-ropero{
	padding:20px 20px 10px 10px; 
}

.separador{
	height: 25px;
}


.boton-home{
	width: 100%;
	background-color: #b71c1c;
}

.boton-home:hover{
	background-color: #831212;
}


#id_total{
	font-size: 2em;
}


.btn, .btn-floating{
	background-color: #b71c1c!important;
}

.btn:hover, .btn-floating:hover{
	background-color: #831212!important;
}

.boton-perfil{
	width: 100%;
	background-color: #b71c1c;
}

.boton-perfil:hover{
	background-color: #831212;
}

.img-login{
	padding: 0 38%;
}

.ayuda-iniciosesion{
	font-size: 13px;
	line-height: 1em;
	font-weight: 400;
	text-align: center;
}

.logo-topbar{
	max-width: 54px!important;
	margin: 5px 0 0 10px;
	border-radius: 50%;
}

.boton-rojo{
	background-color: #b71c1c;
}

.boton-rojo:hover{
		background-color: #831212!important;
}

/* TABLETA */
@media screen and(max-width: 768px){
	.titulo-topbar{
		font-size: 2.4rem!important;
		color: red!important;
	}

	.logo-topbar{
		max-width: 40px!important;
		margin: 5px 0 0 5px;
	}

	.img-login{
		padding: 5% 2%!important;
	}

}

/* celular pequeño */
@media screen and(max-width: 320px){
	.titulo-topbar{
		font-size: 1.1rem!important;
		color: green!important;
	}

}











@media screen and (min-width: 993px){
	nav a.sidenav-trigger {
    	display: inline;
	}
}